footer {
    color: var(--white);
    font-size: 11px;
    letter-spacing: 1px;
    padding: 3rem 0;
    text-align: center;
}

footer a { color: var(--soft_red);}

@media screen and (min-width: 1440px) {
    footer {padding: 6rem 0;}
}
